<a href="https://colab.research.google.com/github/nishi-13/Machine-learning/blob/main/LIST_COMPREHENSION_ML_LAB_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#get the index and value as a tuple for item in the list 
items = ['hi', 129,3,4,(0.1,'hi')]
[(i,j) for i,j in enumerate (items)]

[(0, 'hi'), (1, 129), (2, 3), (3, 4), (4, (0.1, 'hi'))]

In [ ]:
#find the common number in the two list 
l1=[1,2,3,4,5,6,7,8,9]
l2=[34,6,34,3,4,7,9]
[i for i in l1 for j in l2 if i==j]

[3, 4, 6, 7, 9]

In [ ]:
l1=[1,2,3,4,5,6,7,8,9]
l2=[34,6,34,3,4,7,9]
[i for i in l1 if i in l2]

[3, 4, 6, 7, 9]

In [ ]:
#count the number of letter  
S="this is csit department"
l1= S.split()
[len(i) for i in l1]

[4, 2, 4, 10]

In [ ]:
#use a nested list comprehension to find all the number in range 1 to 100 that are divisible by any digit  2 to 9 
[ i  for i in range (1,101) for j in range(2,10) if  i%j==0]

[2,
 3,
 4,
 4,
 5,
 6,
 6,
 6,
 7,
 8,
 8,
 8,
 9,
 9,
 10,
 10,
 12,
 12,
 12,
 12,
 14,
 14,
 15,
 15,
 16,
 16,
 16,
 18,
 18,
 18,
 18,
 20,
 20,
 20,
 21,
 21,
 22,
 24,
 24,
 24,
 24,
 24,
 25,
 26,
 27,
 27,
 28,
 28,
 28,
 30,
 30,
 30,
 30,
 32,
 32,
 32,
 33,
 34,
 35,
 35,
 36,
 36,
 36,
 36,
 36,
 38,
 39,
 40,
 40,
 40,
 40,
 42,
 42,
 42,
 42,
 44,
 44,
 45,
 45,
 45,
 46,
 48,
 48,
 48,
 48,
 48,
 49,
 50,
 50,
 51,
 52,
 52,
 54,
 54,
 54,
 54,
 55,
 56,
 56,
 56,
 56,
 57,
 58,
 60,
 60,
 60,
 60,
 60,
 62,
 63,
 63,
 63,
 64,
 64,
 64,
 65,
 66,
 66,
 66,
 68,
 68,
 69,
 70,
 70,
 70,
 72,
 72,
 72,
 72,
 72,
 72,
 74,
 75,
 75,
 76,
 76,
 77,
 78,
 78,
 78,
 80,
 80,
 80,
 80,
 81,
 81,
 82,
 84,
 84,
 84,
 84,
 84,
 85,
 86,
 87,
 88,
 88,
 88,
 90,
 90,
 90,
 90,
 90,
 91,
 92,
 92,
 93,
 94,
 95,
 96,
 96,
 96,
 96,
 96,
 98,
 98,
 99,
 99,
 100,
 100,
 100]

In [ ]:
#count the number of word
S="this is csit department"
i= S 
[j for j in i]

['t',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'c',
 's',
 'i',
 't',
 ' ',
 'd',
 'e',
 'p',
 'a',
 'r',
 't',
 'm',
 'e',
 'n',
 't']

In [ ]:
#count the number of word which are not alpha numeric  
S= "this is csit 1984 60"
i=S.split()
[j  for j in i if not j.isalpha()]

#print the letter having character greater then 4 
S= "this is csit 1984 60"

[j  for j in S.split() if j.isalpha() and len(j)>4]

[]